@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700,800");

.Phone {
    width: 400px;
    height: 800px;
    background: #f8f9fa;
    border: 10px solid black;
    border-radius: 50px;
    box-shadow: -15px 10px 1px 1px #d3d3d3;
    padding: 2.5rem 0.5rem;
    overflow: auto;
    font-family: "Source Sans Pro", sans-serif;
}

.Phone::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.cross {
    text-align: right;
}

.card-columns {
    display: flex;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.close {
    transition: all 0.3s;
    cursor: pointer;
}

.categoryIcon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffd166;
    padding: 0.3em;
    text-align: center;
    color: black;
}

.close:hover {
    transform: scale(0.85);
}

.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: black;
}

.total {
    height: 100px;
    width: 100%;
    background: white;
}
/* removes outline on bootstrap buttons */
.btn:focus {
    box-shadow: none;
}
